##
# Apache .htaccess template
##

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteRule ^data/(.*)$ /healthy-living-challenge/data/$1 [R=301,NC,L]

## Protect files and directories from prying eyes.
<FilesMatch "\.(make|test|md|po|sh|.*sql|.*bson|tpl(\.php)?|svn-base)$|^(code-style\.pl|Entries.*|Repository|Root|Tag|Template|all-wcprops|entries|format)$">
  Order allow,deny
</FilesMatch>

## Don't show directory listings for URLs which map to a directory.
Options -Indexes

## Follow symbolic links in this directory.
Options +FollowSymLinks

## Let our index.php file handle 404 errors.
## ErrorDocument 404 /index.php


## End of file .htaccess ##
## Location: ./.htaccess ##
