title: Claudie Larouche
description: A website demonstrating my Ottawa and work-related projects
author: Claudie Larouche
url: "https://claudielarouche.com"
email: claudielarouche@gmail.com
lang: "en"
theme: minima

include:
  - assets
  - _redirects

minima:
  hide_site_feed_link: true

header_pages:
  - pages/about.md
  - pages/personal-projects.md
  - pages/work-projects.md
  - pages/media.md
  - pages/contact.md  

collections:
  projects:
    output: true
  csps:
    output: true
    permalink: /csps/:name/
  dev-projects:
    output: true
  playgrounds:
    output: true
    permalink: /playgrounds/:name/

google_analytics: G-YWMRD8LX5P

twitter_username: claudielarouche
github_username: claudielarouche
linkedin_username: claudie-larouche
facebook_username: claudie.larouche.3

plugins:
  - jekyll-sitemap

defaults:
  # 2) All files under _dev-projects get sitemap disabled & skip GA
  - scope:
      path: "_dev-projects"
    values:
      sitemap: false
      exclude_ga: true
  # Playgrounds collection
  - scope:
      path: ""
      type: playgrounds
    values:
      layout: playground

highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter: rouge