<div class="alert alert-info mt-3" role="alert">
<span class="material-icons" style="vertical-align: middle;">lightbulb</span>
Data listed was accurate at the time of publication and is subject to change. Before attending a drop-in activity please confirm schedules, reservation processes, fees, and other details, by <strong>visiting the facility page</strong>. claudielarouche.com is not affiliated with the City of Ottawa in any way. All trademarks and copyrights are property of their respective owners.
</div>