<div class="form-group row">
<label for="selectedPoolType" class="col-sm-2 col-form-label">Select Pool Type: </label>
<div class="col-sm-10">
<button type="button" id="selectAllPoolTypesButton" class="btn btn-primary">Select All</button>
<button type="button" id="unselectAllPoolTypesButton" class="btn btn-secondary">Unselect All</button>

<div class="checkbox">
<label><input type="checkbox" id="indoorsCheckbox" class="poolTypeCheckbox" value="Indoors" checked=""> Indoors</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="outdoorsCheckbox" class="poolTypeCheckbox" value="Outdoors" checked=""> Outdoors</label>
</div>

</div>

</div>
