<div class="form-group row">
<label for="selectedSwimType" class="col-sm-2 col-form-label">Select Swim Type: </label>
<div class="col-sm-10">
<button type="button" id="selectAllSwimTypesButton" class="btn btn-primary">Select All</button>
<button type="button" id="unselectAllSwimTypesButton" class="btn btn-secondary">Unselect All</button>

<div class="checkbox">
<label><input type="checkbox" id="aquafitCheckbox" class="swimTypeCheckbox" value="Aquafit" checked=""> Aquafit</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="laneSwimCheckbox" class="swimTypeCheckbox" value="Lane Swim" checked=""> Lane Swim</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="publicSwimCheckbox" class="swimTypeCheckbox" value="Public Swim" checked=""> Public Swim</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="otherSwimCheckbox" class="swimTypeCheckbox" value="Other" checked=""> Other</label>
</div>

</div>

</div>
