<div class="form-group row">
<label for="selectedAge" class="col-sm-2 col-form-label">Select Age Group: </label>
<div class="col-sm-10">
<button type="button" id="selectAllCategoryButton" class="btn btn-primary">Select All</button>
<button type="button" id="unselectAllCategoryButton" class="btn btn-secondary">Unselect All</button>

<div class="checkbox">
<label><input type="checkbox" id="preschoolCheckbox" class="ageCheckbox" value="Preschool" checked=""  > Preschool (0 to 5)</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="childrenCheckbox" class="ageCheckbox" value="Children" checked=""  > Children (6 to 12)</label>
</div>

<div class="checkbox">
<label><input type="checkbox" id="youthCheckbox" class="ageCheckbox" value="Youth" checked="" > Youth (13 to 17)</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="adultCheckbox" class="ageCheckbox" value="Adult" checked=""  > Adult</label>
</div>

<div class="checkbox">
<label><input type="checkbox" id="50Checkbox" class="ageCheckbox" value="50+" checked="" > 50+</label>
</div>


</div>

</div>