<nav class="activity-nav">
  {% assign current = page.slug | default: page.activity | default: page.url | split:"/" | last %}
  {% for item in site.data.ottawa-drop-ins %}
    {% if item.slug == current %}
      <span class="activity-nav__current">{{ item.name }}</span>
    {% else %}
      <a href="{{ item.url | relative_url }}" class="activity-nav__link">{{ item.name }}</a>
    {% endif %}
    {% unless forloop.last %} | {% endunless %}
  {% endfor %}
</nav>

<br>

<p><strong>How does reservation work?</strong>: You can start making a reservation for a drop-in activity at 6 PM, 2 days before the drop-in activity takes place. Before that, the event will seem sold out.</p>

{% include projects-header.html %}