<div class="form-group row">
<label for="selectedTime" class="col-sm-2 col-form-label">Select Time of Day: </label>
<div class="col-sm-10">
<div class="checkbox">
<label><input type="checkbox" id="amCheckbox" class="timeCheckbox" value="AM" checked=""> AM</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="pmCheckbox" class="timeCheckbox" value="PM" checked=""> PM</label>
</div>
<div class="checkbox">
<label><input type="checkbox" id="eveningCheckbox" class="timeCheckbox" value="Evening" checked=""> Evening</label>
</div>

</div>


</div>