<div class="form-group row">
    <label for="selectedArea" class="col-sm-2 col-form-label">Select Area(s):</label>
    <div class="col-sm-10">
    <div class="checkbox">
    <label><input type="checkbox" id="centralCheckbox" class="areaCheckbox" value="Central" checked=""> Central</label>
    </div>
    <div class="checkbox">
    <label><input type="checkbox" id="eastCheckbox" class="areaCheckbox" value="East" checked=""> East</label>
    </div>
    <div class="checkbox">
    <label><input type="checkbox" id="southCheckbox" class="areaCheckbox" value="South" checked=""> South</label>
    </div>
    <div class="checkbox">
    <label><input type="checkbox" id="westCheckbox" class="areaCheckbox" value="West" checked=""> West</label>
    </div>
    </div>
    </div>