<div class="form-group row">
    <label for="selectedDay" class="col-sm-2 col-form-label">Select Days of the week:</label>
    <div class="col-sm-10">
        <button type="button" id="selectAllDaysButton" class="btn btn-primary">Select All</button>
        <button type="button" id="unselectAllDaysButton" class="btn btn-secondary">Unselect All</button>

        <div class="checkbox">
            <label><input type="checkbox" id="mondayCheckbox" class="dayCheckbox" value="Monday" checked=""> Monday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="tuesdayCheckbox" class="dayCheckbox" value="Tuesday" checked=""> Tuesday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="wednesdayCheckbox" class="dayCheckbox" value="Wednesday" checked=""> Wednesday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="thursdayCheckbox" class="dayCheckbox" value="Thursday" checked=""> Thursday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="fridayCheckbox" class="dayCheckbox" value="Friday" checked=""> Friday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="saturdayCheckbox" class="dayCheckbox" value="Saturday" checked=""> Saturday</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="sundayCheckbox" class="dayCheckbox" value="Sunday" checked=""> Sunday</label>
        </div>

    </div>

</div>