<div class="admonition note">
  <p><span class="admonition-icon">ℹ️</span>
  <strong>Note:</strong> I would be honoured if you attended my free presentation entitled "The Efficient Mom: Systems that Save Your Sanity" at the <a href="https://www.eventbrite.ca/e/free-busy-moms-expo-tickets-1339524567039" target="_blank">Busy Mom Expo</a> on Saturday June 7 at 2 PM in Manotick. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEQJIeJOcR4UTj0E5yyHQe3jPJohU11xceqRUT2nfMKia6oA/viewform?usp=header" target="_blank">Reserve your spot for free here. </a> </p>
</div>